/*
 * Globals & CSS reset
 * ---------------------------------------------------------------------------
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link {
  color: #084080;
  text-decoration: none;
}

a:link:hover {
  color: #052850;
  text-decoration: underline;
}

a:link:visited {
  color: #021020;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  border-bottom: dotted 1px #aaa;
}

/*
 * Main styles
 * ---------------------------------------------------------------------------
 */

#picture-grid {
  display: block;
}

.swatch {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 100% auto;
}